main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding-top: 40px;
    height: 100%;
}
form:hover {
    opacity: 0.7;
}
.login {
    transition: all 0.5s ease-in-out;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(89, 141, 76);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
.login:hover {
    transform: scale(1.6);
}
form {
    display: flex;
}
h1 {
    text-align: center;
    color:  white;
}
input {
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}
button {
    height: 20px;
    margin-top: 30px;
    margin-right: 10px;
    float: right;  
}
h2 {
    color: white;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: white;
}
p {
    color: white;
}
section {
    min-width: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.news {
    position: relative;
    margin-top: 40px;
    background-color: black;
    min-width: 300px;
}
.news:hover{
    opacity: 0.8;
}
ul {
    padding: 0;
}
ul li {
    display: block;
}
.card {
    display: flex;
    background-color: aliceblue;
    width: 200px;
    height: 120px;
}
.notifications{
    background-color: red;
    width: 15px;
    height: 15px;
    color: white;
    position: absolute;
    top: 5px;
    right: 90px;
    border: 1px solid red;
    border-radius: 50%;
    font-size: .7rem;
}
